@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-bg {
    background-color: #450A0A;
    background-image: url("/SR-projet/pattern.svg");
    background-size: cover;
    background-position: var(--background-offset-x) var(--background-offset-y);
    background-repeat: repeat;
} 